footer {
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.footer-links {
    margin-left: 40px;
    text-align: left; 
}
  
.footer-links p {
    margin-bottom: 5px;
}

.footer-links a {
    font-size: 20px;
    font-weight: 300;
  }
  
.copyright {
    margin: 0 auto;
}
  
.social-icons {
    display: flex;
    font-size: 20px;
    gap: 15px;
}

.contact {
    margin: 5px 0;
    text-align: center;
    margin-right: 40px;
  }

  .contact button {
    font-size: 20px; /* Koko */
    padding: 12px 12px; /* Sisennys */
    margin-left: -3px;
}