@import url('https://fonts.googleapis.com/css?family=Arimo');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.left-section {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

.center-section {
  text-align: center;
}

.right-section {
  text-align: right;
  margin-right: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.link-icon {
  margin-left: 10px;
}
  