/* App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

  main {
    max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px;
  }
  
  body {
    margin-bottom: 20vh;
  }