/* App.css */
@import '~bootstrap/dist/css/bootstrap.min.css';

  main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Alatunnisteen tyyli */
  footer {
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  